@model IEnumerable<SeniorProject.ViewModels.Teacher.DetailWorking>

<table id="JsonTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-align-left">ลำดับ</th>
            <th class="text-align-left">วันที่</th>
            <th class="text-align-left">เวลาเข้างาน</th>
            <th class="text-align-left">หลักฐานตอนเริ่มทำงาน</th>
            <th class="text-align-left">เวลาออกงาน</th>
            <th class="text-align-left">หลักฐานตอนเลิกทำงาน</th>
            <th class="text-align-left">สถานะ</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model.OrderBy(f => f.date))
            {
                <tr>
                    <td class="text-align-center" width="50">@Rows.</td>
                    <td>@Get.date  </td>
                    <td>@Get.check_in  </td>
                    <td>@Get.file_in  </td>
                    <td>@Get.check_out  </td>
                    <td>@Get.file_out  </td>
                    <td>@Get.status  </td>
                </tr>
                Rows++;
            }
        }
    </tbody>
</table>
