@model IEnumerable<SeniorProject.ViewModels.Student.HistoryRegister>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "ประวัติการสมัครงาน";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">ประวัติการสมัครงาน</h2>
            <p class="lead mb-0">History Register</p>
        </div>
        <section class="gradient-custom-5">
            <div class="container py-5">
                <div class="main-timeline-5">
                    <div class="timeline-5 right-5">
                        @{
                            int Rows = 1;
                            foreach (var Gets in Model.OrderBy(f => f.register_date))
                            {
                                <div class="card">
                                    <div class="card-body p-4">
                                        <h5>@Gets.name</h5>
                                        <p class="mt-2 mb-0">@Gets.detail</p>
                                        <span class="small text-muted"><i class="fa fa-clock me-1"></i>วันที่สมัคร : @Gets.register_date</span>
                                        <br>
                                        <span class="small text-muted"><i class="fa fa-clock me-1"></i>สถานะ : @Gets.status</span>
                                        <br>
                                        <button class="btn btn-xs btn-danger delete" value="@Gets.Id">ยกเลิกการสมัคร</button>
                                    </div>
                                </div>
                            }
                            Rows++;
                        }
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center mb-5">
            <a class="btn" type="button" style="font-size:25px;background-color:#312E81" a href="@Url.Action("Home","Student")"><font color="#F8FAFC">ย้อนกลับ</font></a>
        </div>
    </div>
</section>

@section Frontend{
    <script type="text/javascript">
        $(function () {
            // Delete
            $(".delete").on("click", function (e) {
                var Id = $(this).val();
                $.SmartMessageBox({
                    title: "คำเตือน!",
                    content: "ต้องการลบรายการนี้หรือไม่?",
                    buttons: '[ไม่][ใช่]'
                }, function (ButtonPressed) {
                    if (ButtonPressed == "ใช่") {
                        $.get("/Student/DeleteRegisterJob", { "transaction_register_id": Id }, function (response) {
                            if (response.valid == true) {
                                $.smallBox({
                                    title: response.message,
                                    content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                    color: "#296191",
                                    iconSmall: "fa fa-thumbs-up bounce animated",
                                    timeout: 1000
                                });
                                setTimeout(function () {
                                    window.location.href = "/Student/HistoryRegister";
                                }, 1000)
                            } else {
                                $.smallBox({
                                    title: response.message,
                                    content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                    color: "#FB0404",
                                    iconSmall: "fa fa-thumbs-up bounce animated",
                                    timeout: 1000
                                });
                            }
                        })
                    }
                    if (ButtonPressed == "ไม่") {

                    }
                });
                e.preventDefault();
            });
        });
    </script>
}