@model IEnumerable<SeniorProject.ViewModels.Student.HistoryRegister>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "ประวัติการสมัครงาน";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">ประวัติการสมัครงาน</h2>
            <p class="lead mb-0">History Register</p>
        </div>
        <section class="gradient-custom-5">
            <div class="container py-5">
                <div class="main-timeline-5">
                    <div class="timeline-5 right-5">
                        @{
                            int Rows = 1;
                            foreach (var Gets in Model.OrderBy(f => f.register_date))
                            {
                                <div class="card my-3 mx-3">
                                    <div class="card-body p-4">
                                        <h3>@Gets.name</h3>
                                        <p class="mt-2 mb-0">รายละเอียดงาน : @Gets.detail</p>
                                        <p class="mt-2 mb-0">จำนวนวันที่ปฎิบัติงาน : @Gets.amount_date_working วัน</p>
                                        <p class="mt-2 mb-0">วันที่สมัคร : @Gets.register_date</p>
                                        <p class="mt-2 mb-0">สถานะ : @Gets.status</p>
                                        <h5></h5>

                                        <a class="btn btn-danger btn-xs delete" id="@Gets.Id" onclick="deleteOrder('@Gets.Id')" value="Delete"><i class="bi bi-trash3-fill"></i> ยกเลิกการสมัครงาน</a>
                                        <a class="btn btn-xs btn-warning" href="@Url.Action("FormEditRegister","Student",new { id = Gets.Id})"><i class="bi bi-brush-fill"></i> เเก้ไขข้อมูลการสมัคร</a>
                                    </div>
                                </div>
                            }
                            Rows++;
                        }
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center mb-5">
            <a class="btn btn-primary" type="button" style="font-size:20px;" a href="@Url.Action("Home","Student")"><i class="bi bi-arrow-left-square-fill"></i><font color="#F8FAFC"> BACK</font></a>
        </div>
    </div>
</section>

@section Frontend{
    <script type="text/javascript">
        function deleteOrder(id) {
            swal({
                title: "คำเตือน!!!",
                text: "คุณต้องการยกเลิกการสมัครงานใช่หรือไม่?",
                type:"warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText:"Yes",
                confirmButtonColor:"#ec6c62",
            },
                function () {
                    $.ajax({
                        url: "/Student/DeleteRegisterJob",
                        data:{"id":id},
                        type:"POST",
                        success: function (response) {
                            if(response.valid == true){
                                sweetAlert({
                                    title: response.message
                                });
                                setTimeout(function(){
                                    window.location.href = "/Student/HistoryRegister";
                                },2000)
                            }else{
                                sweetAlert({
                                    title:response.message,
                                    timeout: 3000
                                });
                            }
                        }
                    });
                }
            )
        }
    </script>
}
