@model IEnumerable<SeniorProject.Models.TRANSACTION_JOB>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "'หน้าหลัก";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 ">
        <div class="text-center mb-5">
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-circle"></i></div>
                <h2 class="h4 fw-bolder">ประวัติส่วนตัว</h2>
                <p>ข้อมูลของส่วนตัวของนักศึกษา โดยจะมีชื่อ - นามสกุล รหัสนักศึกษา คณะเเละสาขาที่เรียน</p>
                <a class="text-decoration-none" href="@Url.Action("Profile","Student")">
                    VIEW
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clipboard-plus"></i></div>
                <h2 class="h4 fw-bolder">สมัครงาน</h2>
                <p>รายการงานต่าง ๆ ที่เปิดให้นักศึกษาสมัคร โดยงานนั้นจะเป็นของอาจารย์ในสาขาของนักศึกษาเท่านั้น</p>
                <a class="text-decoration-none" href="@Url.Action("Job","Student")">
                    REGISTER
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calendar-check"></i></div>
                <h2 class="h4 fw-bolder">ประวัติการสมัครงาน</h2>
                <p>เป็นรายการสมัครงานที่นักศึกษาได้ทำการสมัคร <br>โดยสามารถตรวจสอบสถานะของการสมัครงานจากที่นี้ได้</p>
                <a class="text-decoration-none" href="@Url.Action("HistoryRegister","Student")">
                    VIEW
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">เริ่มทำงาน</h2>
                <p>รายการงานที่นักศึกษาสมัครไปเเล้วได้รับการอนุมัติจาก ผอ.กองพัฒนานักศึกษาเรียบร้อยเเล้ว นักศึกษาสามารถเริ่มทำงานจากที่นี้ได้</p>
                <a class="text-decoration-none" href="@Url.Action("JobApprove","Student")">
                    START
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-briefcase-fill"></i></div>
                <h2 class="h4 fw-bolder">ประวัติการทำงาน</h2>
                <p>เป็นประวัติการบันทึกรายละเอียดงาน เเละเวลาการเข้า/ออกงานของนักศึกษาที่ทำงานในเเต่ละวัน</p>
                <a class="text-decoration-none" href="@Url.Action("","")">
                    VIEW
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>