@model IEnumerable<SeniorProject.ViewModels.Student.ListJob>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "'งานที่เปิดรับสมัคร";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-2 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">งานที่เปิดรับสมัคร</h2>
            <p class="lead mb-0">Choose Job & Register!!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            @{
                int Rows = 1;
                foreach (var Gets in Model.OrderBy(f => f.id))
                {
                    <div class="card text-center my-3 mx-3" style="width:25rem;">
                        <div class="card-body">
                            <h5 class="card-title">@Gets.jobname</h5>
                            <p>-------------------------------------</p>
                            <p class="card-text">จำนวนวันที่ปฎิบัติงาน : @Gets.amount_working วัน</p>
                            <p class="card-text">จำนวนนักศึกษาที่รับ : @Gets.amount_person คน</p>
                            <p class="card-text">นักศึกษาที่สมัคร : @Gets.amount_register คน</p>
                            <p class="card-text">วัน/เวลาที่ปิดรับสมัคร : @Gets.close_register</p>
                            <p class="card-text">อาจารย์ผู้รับผิดชอบ : @Gets.job_owner_name</p>
                            <p>-------------------------------------</p>
                            <a class="btn btn-success register" data-id="@Gets.id">สมัครงาน</a>
                            <a class="btn btn-primary viewDetail" data-id="@Gets.id">รายละเอียดงาน</a>
                        </div>
                    </div>
                    Rows++;
                }
            }
        </div>
    </div>
    <div class="text-center mb-5">
        <a class="btn btn-sm btn-danger" type="button" style="font-size:20px;" href="@Url.Action("Home","Student")"><i class="bi bi-arrow-left-square-fill"></i><font color="#F8FAFC"> BACK</font></a>
    </div>
</section>

<div class="modal fade bs-example-modal-lg" id="Detail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <p id="JsonResult"></p>
    </div>
</div>


@section Frontend{
    <script type="text/javascript">
        $(function () {
            // go to register
            $(".register").click(function () {
                window.location.href = "/Student/FormRegisterJob?transaction_job_id=" + $(this).attr("data-id");
            });

            //view detailjob
            $(".viewDetail").click(function () {
                $("#JsonResult").html('<img src="/img/loading.gif" width="50">');
                $.get("/Student/DetailJob", { "transaction_job_id": $(this).attr("data-id") }, function (rs) {
                    setTimeout(function () {
                        $("#Detail").modal("show");
                        $("#JsonResult").html(rs);

                    }, 200)
                });
            });
        });
    </script>
}