@model IEnumerable<SeniorProject.Models.TRANSACTION_JOB>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "'งานที่เปิดรับสมัคร";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">งานที่เปิดรับสมัคร</h2>
            <p class="lead mb-0">Choose Job & Register!!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            @{
                int Rows = 1;
                foreach (var Gets in Model.OrderBy(f => f.transaction_job_id))
                {
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">@Gets.job_name</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        <strong>รายละเอียดงาน : @Gets.job_detail</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        จำนวนนักศึกษาที่รับ : @Gets.amount_person
                                    </li>
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        จำนวนวันที่ทำงาน : @Gets.amount_date
                                    </li>
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        วันที่ปิดรับสมัคร : @Gets.close_register_date
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" a href=@Url.Action("FormRegisterJob","Student")>Register</a></div>
                            </div>
                        </div>
                    </div>
                    Rows++;
                }
            }
        </div>
    </div>
</section>

@section Scripts{
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
    @*<script type="text/javascript" src="~/js/Student/Job.js"></script>*@
}