@model IEnumerable<SeniorProject.Models.TRANSACTION_JOB>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "'งานที่เปิดรับสมัคร";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">งานที่เปิดรับสมัคร</h2>
            <p class="lead mb-0">Choose Job & Register!!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            @{
                int Rows = 1;
                foreach (var Gets in Model.OrderBy(f => f.transaction_job_id))
                {
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">@Gets.job_name</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        <strong>รายละเอียดงาน : @Gets.job_detail</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        จำนวนนักศึกษาที่รับ : @Gets.amount_person
                                    </li>
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        จำนวนวันที่ทำงาน : @Gets.amount_date
                                    </li>
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        วันที่ปิดรับสมัคร : @Gets.close_register_date
                                    </li>
                                    <li class="mb-2">
                                        <i class="text-primary"></i>
                                        อาจารย์ผู้รับผิดชอบ : @Gets.owner_job
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-id="@Gets.transaction_job_id+@Gets.create_by" class="btn-u btn-u-sea register"> สมัครงาน <span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    Rows++;
                }
            }
        </div>
    </div>
    <div class="text-center mb-5">
        <a class="btn" type="button" style="font-size:25px;background-color:#312E81" a href="@Url.Action("Home","Student")"><font color="#F8FAFC">ย้อนกลับ</font></a>
    </div>
</section>


@section Frontend{
    <script type="text/javascript">
        $(function () {
            // go to register
            $(".register").click(function () {
                window.location.href = "/Student/FormRegisterJob?transaction_job_id=" + $(this).attr("data-id");
            });
        });
    </script>
}