@model IEnumerable<SeniorProject.ViewModels.Student.ListJob>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "'งานที่เปิดรับสมัคร";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">งานที่เปิดรับสมัคร</h2>
            <p class="lead mb-0">Choose Job & Register!!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            @{
                int Rows = 1;
                foreach (var Gets in Model.OrderBy(f => f.id))
                {
                    <div class="card text-center" style="width:25rem;">
                        <div class="card-body">
                            <h5 class="card-title">@Gets.jobname</h5>
                            <p class="card-text">@Gets.job_detail</p>
                            <p class="card-text">@Gets.amount_person</p>
                            <p class="card-text">@Gets.close_register</p>
                            <a class="btn btn-primary register" data-id="@Gets.id">Button</a>
                        </div>
                    </div>
                    Rows++;
                }
            }
        </div>
    </div>
    <div class="text-center mb-5">
        <a class="btn btn-sm" type="button" style="font-size:25px;background-color:#312E81" a href="@Url.Action("Home","Student")"><font color="#F8FAFC">ย้อนกลับ</font></a>
    </div>
</section>


@section Frontend{
    <script type="text/javascript">
        $(function () {
            // go to register
            $(".register").click(function () {
                window.location.href = "/Student/FormRegisterJob?transaction_job_id=" + $(this).attr("data-id");
            });
        });
    </script>
}