@model IEnumerable<SeniorProject.ViewModels.Student.ListJobApprove>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "'งานที่ได้รับการอนุมัติเเล้ว";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">งานที่ได้รับการอนุมัติ</h2>
            <p class="lead mb-0">JobsApprove</p>
        </div>
        <div class="row gx-5 justify-content-center">
            @{
                int Rows = 1;
                foreach (var Gets in Model.OrderBy(f => f.confirm_approve))
                {
                    <div class="card text-center my-3 mx-3" style="width:30rem;">
                        <div class="card-body">
                            <h5 class="card-title">@Gets.job_name</h5>
                            <p>-----------------------------------</p>
                            <p class="card-text">รายละเอียดงาน : @Gets.job_detail</p>
                            <p class="card-text">อาจารย์ผู้รับผิดชอบงาน : @Gets.job_owner</p>
                            <p>-----------------------------------</p>
                            <a class="btn btn-success start" style="font-size:17px;" a href="@Url.Action("ListWorking","Student",new { id = @Gets.id , j_id = Gets.j_id})">เริ่มทำงาน <i class="bi bi-arrow-right-square-fill"></i></a>
                        </div>
                    </div>
                    Rows++;
                }
            }
        </div>
    </div>
    <div class="text-center mb-5">
        <a class="btn btn-sm btn-danger" type="button" style="font-size:20px;" a href="@Url.Action("Home","Student")"><i class="bi bi-arrow-left-square-fill"></i><font color="#F8FAFC"> BACK</font></a>
    </div>
</section>

@*@section Frontend{
    <script type="text/javascript">
        $(function () {
            // go to working
            $(".start").click(function () {
                window.location.href = "/Student/ListWorking?transaction_job_id=" + $(this).attr("data-id");data-id="@Gets.id/@Gets.j_id"
            });
        });
    </script>
}*@