@model IEnumerable<SeniorProject.ViewModels.Student.ListWorking>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "'งานที่ได้รับการอนุมัติเเล้ว";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center pt-3 pb-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                 alt="Check" width="60">
            <h2 class="my-4">รายการเข้า/ออกงาน</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ลำดับที่ทำงาน</th>
                    <th scope="col">งาน</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col" class="col-3">ตัวดำเนินการ</th>
                </tr>
            </thead>
            <tbody>
                @{

                    int Rows = 1;
                    foreach (var Gets in Model)
                    {
                        <tr>
                            <th scope="row">@Rows</th>
                            <td>@Gets.job_name</td>
                            <td>@Gets.status</td>
                            <td>
                                <button class="btn btn-success btn-sm check-in" id="@Gets.Id">ลงเวลาเข้างาน</button>
                                <button class="btn btn-danger btn-sm check-out" id="@Gets.Id">ลงเวลาออกงาน</button>
                            </td>
                        </tr>
                        Rows++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="text-center mb-5">
        <a class="btn btn-sm" type="button" style="font-size:18px;background-color:#312E81" a href="@Url.Action("JobApprove","Student")"><font color="#F8FAFC">ย้อนกลับ</font></a>
    </div>
</section>

@section Frontend{
    <script type="text/javascript">
        $(function () {
            // go to FormStartWorking
            $(".check-in").click(function () {
                window.location.href = "/Student/FormStartWorking?transaction_register_id=" + $(this).attr("id");
            });
            // go to FormEndWorking
            $(".check-out").click(function () {
                window.location.href = "/Student/FormEndWorking?transaction_register_id=" + $(this).attr("id");
            });
        });
    </script>
}