@model SeniorProject.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "ประวัติส่วนตัว";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">ประวัติส่วนตัว</h2>
            <p class="lead mb-0">Profile</p>
        </div>
        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">ชื่อ-นามสกุล :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="mb-0">@ViewBag.Prefix @Model.FirstName  @Model.LastName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">รหัสนักศึกษา :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="mb-0">@Model.UserName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">คณะ/สาขา :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="mb-0">@ViewBag.Faculty / @ViewBag.Branch</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center mb-5">
        <a class="btn btn-sm btn-danger" type="button" style="font-size:20px;" a href="@Url.Action("Home","Student")"><i class="bi bi-arrow-left-square-fill" ></i><font color="#F8FAFC"> BACK</font></a>
    </div>
</section>