@model SeniorProject.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewData["Title"] = "ประวัติส่วนตัว";
}

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">ประวัติส่วนตัว</h2>
            <p class="lead mb-0">Profile</p>
        </div>
        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Home","Student")">หน้าหลัก</a></li>
                                <li class="breadcrumb-item">ประวัติส่วนตัว</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">ชื่อ-นามสกุล :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.FirstName  @Model.LastName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">รหัสนักศึกษา :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.UserName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">คณะ/สาขา :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@ViewBag.Faculty / @ViewBag.Branch</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>