@using Microsoft.AspNetCore.Identity
@using SeniorProject.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var CurrentUser = await UserManager.FindByIdAsync(UserManager.GetUserId(User));
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">
    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/your_style.css">
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/img/favicon/Partime.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/Partime.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>
<body class="smart-style-2">
    <header id="header">
        <div id="logo-group">
            <span id="logo"> <img src="/img/logo-parttime.png" alt="SmartAdmin"> </span>
        </div>
        <div class="pull-right">
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <div id="logout" class="btn-header transparent pull-right" style="margin-top:8px;">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Student", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-power-off" style="font-size:20px;color:whitesmoke"></i></button>
                </form>
            </div>
            <div id="search-mobile" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
            </div>
        </div>
    </header>
    <aside id="left-panel">
        <div class="login-info">
            <span>
                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut" title="@ViewData["Prefix"] @CurrentUser.FirstName @CurrentUser.LastName">
                    <span style="font-size: 26px;">
                        <img src="~/img/avatars/3.png">
                        @ViewData["Prefix"] @CurrentUser.FirstName @CurrentUser.LastName
                       
                    </span>
                </a>
            </span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("Job", "Office")"><i class="fa fa-lg fa-fw fa-pencil-square"></i> <span class="menu-item-parent" style="font-size: 14px;">ขอรับนักศึกษา<br>มาปฎิบัติงาน</span></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="@Url.Action("ListStudent", "Office")"><i class="fa fa-lg fa-fw fa-child"></i> <span class="menu-item-parent" style="font-size: 14px;">รายชื่อนักศึกษา<br>ที่มาสมัครงาน</span></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="@Url.Action("ListStudentWorking", "Office")"><i class="fa fa-lg fa-fw fa-clock-o"></i> <span class="menu-item-parent" style="font-size: 14px;">เวลาเข้าออกงาน<br>นักศึกษา</span></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="@Url.Action("Proofpayment", "Office")"><i class="fa fa-lg fa-fw fa-file-pdf-o"></i> <span class="menu-item-parent" style="font-size: 14px;">เอกสารเบิกจ่าย<br>ค่าตอบเเทน</span></a>
                </li>
            </ul>
        </nav>
        <span id="SystemMenu"></span>
        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>
    </aside>
    <div id="main" role="main">

        @RenderBody()

    </div>
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">
                    Part-Time Rajamangala University of Technology Thanyaburi (RMUTT)
                </span>
            </div>
        </div>
    </div>
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="/js/plugin/pace/pace.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>');
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>
    <!-- IMPORTANT: APP CONFIG -->
    <script src="/js/app.config.js"></script>
    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- CUSTOM NOTIFICATION -->
    <script src="/js/notification/SmartNotification.min.js"></script>
    <!-- JARVIS WIDGETS -->
    <script src="/js/smartwidgets/jarvis.widget.min.js"></script>
    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <!-- browser msie issue fix -->
    <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <!-- FastClick: For mobile devices -->
    <script src="/js/plugin/fastclick/fastclick.min.js"></script>
    <!-- MAIN APP JS FILE -->
    <script src="/js/app.min.js"></script>

    @RenderSection("Scripts",required: false)

    <script type="text/javascript">

        $(document).ready(function () {
            pageSetUp();
        })

    </script>
</body>
</html>
