@model IEnumerable<SeniorProject.ViewModels.User.UserViewModels>

<table id="JsonTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-align-left">ลำดับ</th>
            <th class="text-align-left">ชื่อผู้ใช้</th>
            <th class="text-align-left">มหาวิทยาลัย/คณะ</th>
            <th class="text-align-left">หน่วยงาน</th>
            <th class="text-align-center">ตัวดำเนินการ</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model.OrderBy(f => f.UserId))
            {
                <tr>
                    <td class="text-align-center" width="50">@Rows.</td>
                    <td>@Get.FullName</td>
                    <td>@Get.FacultyName</td>
                    <td>@Get.BranchName</td>
                    <td class="text-align-center">
                        <button class="btn btn-warning btn-xs edit" value="@Get.UserId"><i class="fa fa-pencil"></i> แก้ไข</button>
                        <button class="btn btn-danger  btn-xs Delete" value="@Get.UserId"><i class="fa fa-eraser"></i> ลบ</button>
                    </td>
                </tr>
                Rows++;
            }
        }
    </tbody>
</table>
